/* Positionnement absolu de la classe ".main-tittle" */
.main-tittle {
  position: absolute;
}

/* Style pour les classes ".site-title" et ".main-tittle" */
.site-title,
.main-tittle {
  background-color: #FFD5A2; /* Couleur de fond orange pâle */
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 250%; /* Hauteur de ligne de 250% */
  font-size: 34px !important; /* Taille de police de 34 pixels (importante) */
}

/* Menu burger */
.burger-menu {
  display: block;
  cursor: pointer;
  position: relative;
  left: 90%; /* Décalage de 90% par rapport à la gauche */
  top: 30%; /* Décalage de 30% par rapport au haut */
  z-index: 1001;
}

/* Barres du menu burger */
.burger-menu .bar {
  width: 30px;
  height: 4px;
  background-color: #333; /* Couleur des barres */
  margin: 6px 0; /* Marge de 6 pixels en haut et en bas */
  transition: 0.4s; /* Transition de 0,4 seconde */
}

/* Animation de rotation de la première barre lors du changement du menu burger */
.burger-menu.change .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-9px, 6px); /* Rotation et translation */
}

/* Disparition de la deuxième barre lors du changement du menu burger */
.burger-menu.change .bar:nth-child(2) {
  opacity: 0; /* Opacité à 0 */
}

/* Animation de rotation de la troisième barre lors du changement du menu burger */
.burger-menu.change .bar:nth-child(3) {
  transform: rotate(45deg) translate(-9px, -6px); /* Rotation et translation */
}

/* Style pour le menu en plein écran */
.fullscreen-menu {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background: #FFF5E9; /* Fond blanc cassé */
  border: 1px solid #f8c990; /* Bordure avec couleur */
  max-width: 1440px; /* Largeur maximale de 1440 pixels */
  overflow: hidden;
}

.fullscreen-menu ul {
  list-style-type: none;
  padding: 0;
  flex-direction: column;
  align-items: center;
}

.fullscreen-menu ul li {
  position: relative;
  font-size: 500%; /* Taille de police de 500% */
}

.fullscreen-menu ul li a {
  color: #000; /* Couleur du texte en noir */
  text-decoration: none;
  font-size: 55%; /* Taille de police de 55% */
  position: relative;
  z-index: 1;
}

.fullscreen-menu ul li a:hover {
  /* Au survol du lien */
  text-shadow: #FF5C00 1px 0 5px; /* Ombre de texte orange */
}

/* Images d'animation du menu */
#orchid,
#rando,
#flo,
#hibis,
#sunflo {
  position: absolute;
  animation: rotate-flowers 10s infinite linear;
}

#orchid {
  top: 20%;
  left: -5%;
  max-block-size: 20%;
}

#rando {
  top: 40%;
  right: -3%;
  max-block-size: 10%;
}

#flo {
  top: 50%;
  left: 20%;
  max-block-size: 10%;
}

#hibis {
  bottom: -20%;
  right: -12%;
  max-block-size: 40%;
}

#sunflo {
  top: 15%;
  right: 20%;
  max-block-size: 20%;
}

/* Images d'animation du menu */
#img-logo {
  position: relative;
  max-block-size: 10%;
}

/* Animation floatTitle */
#chat-green,
#chat-violet,
#chat-orange {
  position: absolute;
  max-block-size: 10%;
  animation: floatTitle 6s infinite ease-in-out;
}

#chat-green {
  right: 20%;
  bottom: 25%;
  transform: translate(-50%, -50%);
}

#chat-violet {
  left: 20%;
}

#chat-orange {
  left: 20%;
  bottom: 10%;
}

@keyframes floatTitle {
  0%, 100% {
    /* Au début et à la fin de l'animation */
    transform: translate(-50%, -50%); /* Centré horizontalement et verticalement */
  }
  25% {
    /* À 25% de l'animation */
    transform: translate(-70%, -50%); /* Déplacement de 20% vers la gauche */
  }
  50% {
    /* À 50% de l'animation */
    transform: translate(-70%, -60%); /* Déplacement de 20% vers le haut */
  }
  75% {
    /* À 75% de l'animation */
    transform: translate(-45%, -50%); /* Déplacement de 10% vers la droite */
  }
}

/* Media queries pour les écrans de petite taille */
@media (max-width: 700px) {
  .fullscreen-menu {
    height: 50%; /* Hauteur de 50% */
  }

  .main-navigation ul {
    display: flex; /* Affichage en tant que flex */
  }

  #page {
    margin-top: -30%; /* Marge supérieure de -30% */
  }

  .parallax-container {
    margin-bottom: -40%; /* Marge inférieure de -40% */
  }

  #characters {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .site-title,
  .main-tittle {
   
    font-size: inherit !important; /* Taille de police héritée */
  }
}
