/* conteneur de la parallaxe */
.parallax-container {
    position: relative;
    overflow: hidden;
    height: 900px;
  }
  
  /* section parallaxe */
  .parallax-section {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
/* style du titre parallaxe */
.parallax-title {
    position: absolute; /* Positionnement absolu pour permettre de positionner le titre par rapport à l'élément parent */
    top: 50%; /* Positionnement vertical au centre de l'élément parent */
    left: 50%; /* Positionnement horizontal au centre de l'élément parent */
    transform: translate(-50%, -50%); /* Ajuste la position du titre pour que son centre coïncide avec les points de référence (50%, 50%) définis ci-dessus */
    text-align: center; /* Centre le texte à l'intérieur du titre */
    color: #fff; 
    animation: floatTitle 6s infinite ease-in-out; /* Appliquez l'animation de flottement au titre avec une durée de 6 secondes, en boucle infinie et avec une fonction d'assouplissement 'ease-in-out' */
  }
  /* Ajoutez les keyframes pour l'animation de flottement */
  @keyframes floatTitle {
    0%, 100% { /* Au début et à la fin de l'animation */
      transform: translate(-50%, -50%); /*le titre est centré horizontalement et verticalement par rapport à l'élément parent*/
    }
    25% { /* À 25% de l'animation */
      transform: translate(-55%, -50%); /*  le titre est déplacé de 10% vers la gauche */
    }
    50% { /* À 50% de l'animation */
      transform: translate(-50%, -55%); /*  le titre est déplacé de 10% vers le haut. */
    }
    75% { /* À 75% de l'animation */
      transform: translate(-45%, -50%); /* le titre est déplacé de 10% vers la droite */
    }
  }
  