.banner {
  background-image: none;
  /*Pas d'image de fond*/
}

#background-video,
#banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ajuster l'image de manière à couvrir complètement le conteneur*/
  margin-top: 0%;
}

/************swipper css*****/
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;

  img {
    display: block;
    width: 100%;
  }
}

/*********nuage****/
/* changement de fond article #place*/
.story #place {
  background-image: url("/wp-content/themes/foce-child/images/Studio_Koukaki-image_place.png");
  background-size: cover;
}

.bloc_nuages {
  position: absolute;
  left: 55%;
  bottom: 25%;
  filter: blur(15px);
  /* Appliquer un flou aux nuages*/
}

#studio {
  overflow: hidden;
  margin-top: 0px;
}

@media (max-width: 768px) {
  .story #place {
    background-image: url("/wp-content/themes/foce/assets/images/place_bg.png");
    /* Image de fond pour #place*/
    background-size: cover;
    /* Ajuster la taille de l'image de manière à couvrir complètement #place*/
    min-height: 50%;
    /*Hauteur minimale de 50% (pour créer un débordement)*/
  }

  .bloc_nuages {
    display: none !important;
    /* Masquer .bloc_nuages*/
  }
}